* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #090909;
}

p {
  color: #666;
}
